<div class="container">
  <p id="notice"><%= notice %></p>

  <h2>Users</h2><br/>

  <%= link_to 'New User', new_user_path, class: "btn btn-primary" %><br/><br/>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Reservations</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td id=<%=user.id%>> <%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.password %></td>
          <td>
            <ul>
                <% user.reservations.each do |reservation| %>
                <li>
                  <%= link_to reservation.booking_code, reservation %>
                <% end %>
              </li>
            </ul>
          </td>
          <td><%= link_to 'Show', user, class: "btn btn-outline-secondary" %></td>
          <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-outline-secondary" %></td>
          <td><%= link_to 'Remove User', user, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Please confirm you want to delete it' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


</div>
