<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body">
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Password:</strong>
      <%= @user.password %>
    </p>

    <p> <strong>Reservations: </strong>

      <ul class="list-group" style="list-style: none">

          <% @user.reservations.each do |reservation| %>
            <% if reservation.booking_code.nil? %>
              {<p>No reservations </p>}
            <% else %>
              <li class="list-group-item">
                <p><strong>Reservation Number: </strong>
                  <%= reservation.booking_code %>
                  <br/><br/>
                  <%= link_to "Go to reservation", reservation, class: "btn btn-outline-secondary", style: "padding: 5px; margin: 2px;" %>
                </p><em>
            </li>
          <% end %>
          <% end %>

      </ul><br/>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-outline-secondary" %>
    <%= link_to 'Back to user index', users_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
