<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p> <strong>Reservations: </strong>
  <ul class="list-group" style="list-style: none">
      <% @user.reviews.each do |review| %>

        <li class="list-group-item">
          <p>Reservation Number:
            <% if review.reservation != nil %>
            <%= review.reservation.booking_code %>
            <% end  %>

            <%= link_to "Go to reservation", review.reservation, class: "btn btn-secondary", style: "padding: 5px; margin: 2px;" %>
          </p><em>
          <p>
            Review posted: '<%= link_to review.comment, review %>'</em>
            <%= link_to "Go to review", review, class: "btn btn-secondary", style: "padding: 5px; margin: 2px;" %>
          </p>
        </li>

    <% end %>

  </ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
