<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body">
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Password:</strong>
      <%= @user.password %>
    </p>

    <p> <strong>Reservations: </strong>
      <ul class="list-group" style="list-style: none">
          <% @user.reservations.each do |reservation| %>

            <li class="list-group-item">
              <p>Reservation Number:
                <%= reservation.booking_code %>
                <% reservation.reviews.each do |review| %>
                  <%= review.comment %>
                  <%= review.user_id %>
                <% end %>
                <%= link_to "Go to reservation", reservation, class: "btn btn-secondary", style: "padding: 5px; margin: 2px;" %>
              </p><em>
            </li>

        <% end %>

      </ul>


    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-outline-secondary" %>
    <%= link_to 'Back to user index', users_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
