<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :heading %>
    <%= form.text_field :heading %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :max_guests %>
    <%= form.number_field :max_guests %>
  </div>

  <div class="field">
    <%= form.label :bedrooms %>
    <%= form.number_field :bedrooms %>
  </div>

  <div class="field">
    <%= form.label :bathrooms %>
    <%= form.number_field :bathrooms %>
  </div>

  <div class="field">
    <%= form.label :cleaning_fee %>
    <%= form.text_field :cleaning_fee %>
  </div>

  <div class="field">
    <%= form.label :service_fee %>
    <%= form.text_field :service_fee %>
  </div>

  <div class="field">
    <%= form.label :service_fee %>
    <%= form.text_field :service_fee %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-secondary"  %>
    <hr/>
  </div>
<% end %>
