<p id="notice"><%= notice %></p>
<div class="container-fluid card-body" style="width: 60rem;" >
  <h3 class="card-title">
    <%= @property.title %>
  </h3>

  <h5 class="card-subtitle mb-2 text-muted">
    <%= @property.heading %>
  </h5><br/>

  <p>
    <strong>Address:</strong>
    <%= @property.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @property.description %>
  </p>

  <p>
    <strong>Max guests:</strong>
    <%= @property.max_guests %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= @property.bedrooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= @property.bathrooms %>
  </p>

  <p>
    <strong>Cleaning fee:</strong>
    $<%= @property.cleaning_fee.to_i %>
  </p>

  <p>
    <strong>Service fee:</strong>
    $<%= @property.service_fee.to_i %>
  </p>

    <strong>Property Images:</strong><br/><br/>
          <% @property.images.each do |image| %>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://res.cloudinary.com/dhl1cdqch/image/upload/v1610626496/<%= image.image_url %>" width="250px"/>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class= "card-title"><%= image.name %></h5>
                  <p class="card-text"><%= image.description %></p>
                  <p class="card-text"><small class="text-muted"><%= image.image_url %></small></p>
                  <%= link_to 'Go to detail', image_path(image), class: "btn btn-outline-secondary" %>
                </div>
              </div>
          </div>
        </div>
          <% end %>
  <%= link_to 'Edit property', edit_property_path(@property), class: "btn btn-outline-secondary" %>
  <%= link_to 'Back to property index', properties_path, class: "btn btn-outline-secondary" %>
</div>
