<p id="notice"><%= notice %></p>

<h2>Reservations</h2><br/>
<%= link_to 'Create new reservation', new_reservation_path, class: "btn btn-primary" %> <br/><br/>

<!-- search for user -->
<div class="">

  Search for reservations
<%= form_tag(reservations_path, method: 'get') do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Search") %>
<% end %>   <!-- form -->

</div>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Booking code</th>
      <th>Property</th>
      <th>Customer (review) </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.booking_code %></td>
        <td>
          <%= link_to reservation.property_id, reservation.property, style: "padding: 5px; margin: 2px;", class: "btn btn-link" %>
          <br/>
          <p>

          </p>
        </td>
        <td>
          <ul class="list-group" style="list-style: none">
          <% reservation.reviews.each do |review| %>
            <li class="list-group-item" >
              <p class="btn btn-link" style="padding: 5px; margin: 2px;">
                <%= link_to review.comment, review %>
              </p><br/>
              <% if review.user != nil %>
              <em> - <%= link_to review.user.name, review.user %></em>
              <% end %>
            </li>
          <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show details', reservation, class: "btn btn-outline-secondary" %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation), class: "btn btn-outline-secondary" %></td>
        <td><%= link_to 'Delete reservation', reservation, method: :delete, data: { confirm: 'Are you Please confirm you want to delete it' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
