<p id="notice"><%= notice %></p>


  <div class="card mb-3" >
    <div class="row g-0">
      <div class=" col-md-4">
        <%= image_tag "https://res.cloudinary.com/dhl1cdqch/image/upload/v1610626496/#{@reservation.property.images[0].image_url}", width: "250" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Reservation Number: <strong><%= @reservation.booking_code %></strong></h5>
          <p class="card-text">
              <strong>Property Details:</strong>
          </p>
              <ul class="card-text">
                <li><%= @reservation.property.heading %></li>
                <li><%= @reservation.property.title %></li>
                <li>Address: <%= @reservation.property.address %></li>
              </ul>
          <p class="card-text"><small class="text-muted">check-in: <%= @reservation.from_date%>, check-out: <%= @reservation.to_date %></small></p>
        </div>
      </div>
    </div>
  </div>





<%= link_to 'Edit this booking', edit_reservation_path(@reservation), class: "btn btn-outline-secondary" %>
<%= link_to 'Reservations index', reservations_path, class: "btn btn-outline-secondary"  %>
<%= link_to 'Users index', users_path, class: "btn btn-outline-secondary"  %>
