<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>Property Details: </strong>
  <%= @image.property.title%>, (ID: <%=@image.property_id %>)
</p>

<p>
  <strong>Image url:</strong>
  <%= @image.image_url %><br/><br/>
  <%= image_tag @image.image_url %>
</p>


<%= link_to 'Edit image', edit_image_path(@image), class: "btn btn-outline-secondary" %>
<%= link_to 'Delete image', @image, method: :delete, class: "btn btn-outline-danger" %>
<%= link_to 'Back to property details', property_path(@image.property), class: "btn btn-outline-secondary" %>
